.active {
  padding: 0 16px;
  color: #ccc;
  font-size: 13px;
  text-align: center;
  border-bottom: 2px solid red;
  color: red;
  transition: all 0.2s ease-in-out;
}
.inactive {
  padding: 0 16px;
  color: #ccc;
  font-size: 13px;
  text-align: center;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;
  background-color: white;
}
.inactive:hover {
  padding: 0 16px;
  color: #ccc;
  font-size: 13px;
  text-align: center;
  border-bottom: 2px solid red;
  color: red;
  transition: all 0.2s ease-in-out;
}
button {
  height: 50px;
  border: 0;
}
.pagination {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
}
